#faserne_billede {
  max-width: 3000px; /* Gør at billede ikke bliver forstørret*/
  margin-left: auto; /* centrer billed sektionen */
  margin-right: auto; /* center billed sektionen */
}

/* Grid areas */

#back_arrow {
  grid-area: back_arrow;
}

#overskrift {
  grid-area: overskrift;
}

#indledning {
  grid-area: indledning;
}

#faserne_overskrift {
  grid-area: faserne_overskrift;
}

#faserne_tekst {
  grid-area: faserne_tekst;
}

#faserne_billede {
  grid-area: faserne_billede;
}

#projekt_overskrift {
  grid-area: projekt_overskrift;
}

#projekt_tekst {
  grid-area: projekt_tekst;
}

#projekt_pitch {
  grid-area: projekt_pitch;
}

#projekt_prototype {
  grid-area: projekt_prototype;
}

/* Styling af videoer */
  /* (Gør videoerne responsive) */
.video {
  position: relative; /* Gør feltet relativt */
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.video iframe{
  position: absolute;
  top:0;
  left: 0; /* Giver den en absolut placering */
  width: 100%;
  height: 100%; /* Den skal være sin fylde størrelse */
}


/* Grid for mobil version */
#pagewrap {
  display: grid;
  grid-template-areas:
  "back_arrow"
  "overskrift"
  "indledning"
  "faserne_overskrift"
  "faserne_tekst"
  "faserne_billede"
  "projekt_overskrift"
  "projekt_tekst"
  "projekt_pitch"
  "projekt_prototype";
}


@media screen and (min-width: 1000px) { /* Her begynnder desktop versionen */

 #pagewrap {
   grid-template-areas:
   "overskrift overskrift"
   "indledning indledning"
   "faserne_overskrift faserne_overskrift"
   "faserne_tekst faserne_tekst"
   "faserne_billede faserne_billede"
   "projekt_overskrift projekt_overskrift"
   "projekt_tekst projekt_tekst"
   "projekt_pitch projekt_prototype";
 }

 #faserne_tekst {
   width: 80%; /* Går feltet smaller */
   margin-left: auto;
   margin-right: auto; /* centrer feltet */
 }

 .video {
   width: 90%; /* videoerne fylder mindre, derved mere luft imellem */
   margin-left: auto;
   margin-right: auto; /* centrer videoerne */
 }

}
