#slideshow {
  box-sizing: border-box;
  background-color: #a4897b;
}


.mySlides {
  text-align: center; /* cetnrer diven og dermed billederne*/
  margin-top: 1em; /* Giver mere luft mellem billede og top*/
}

/* Slideshow container */
.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #6c6cd9; /* Giver den lyse blå farve til pillene */
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

#prikker {
  text-align: center; /* Centerer prikkerne */
}

/* Number text (1/3 etc) */
.numbertext {
  color: #D1BEB4;
  font-size: 1.5em;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #D1BEB4;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #6c6cd9;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

#slideshow { /* Giver samme styling som tekstfeltene*/
  background-color: #a4897b; /* Baggrunds farve */
  padding-top: 0.1em;
  padding-bottom: 0.1em; /* padding i bund og top*/
  padding-right: 1em;
  padding-left: 1em; /* padding i siderne */
  margin-bottom: 1em; /* luft mellem felter */
  box-shadow: 1px 1px 10px #574f4b; /* skyggeeffekt */
}
